<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Quad_model2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.22407 -0.48805 0.32445"
        rpy="0 0 0" />
      <mass
        value="0.97442" />
      <inertia
        ixx="0.00057303"
        ixy="1.8862E-11"
        ixz="-1.105E-11"
        iyy="0.00057303"
        iyz="-2.322E-12"
        izz="0.0010319" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wrist_front_link">
    <inertial>
      <origin
        xyz="6.89995963896184E-05 0.000315327536543841 2.72144423174581E-06"
        rpy="0 0 0" />
      <mass
        value="0.0575772682820336" />
      <inertia
        ixx="3.68696416909138E-05"
        ixy="-1.85494733179589E-09"
        ixz="-3.03621325038864E-10"
        iyy="7.5037239312818E-05"
        iyz="1.18514013973388E-09"
        izz="4.10250405964996E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_front_joint"
    type="revolute">
    <origin
      xyz="0.0860691765800737 -0.626053636997834 0.332824389225178"
      rpy="1.5707963267949 0 0.785398163397438" />
    <parent
      link="base_link" />
    <child
      link="wrist_front_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="prop_front_link">
    <inertial>
      <origin
        xyz="-1.57679355616835E-06 0.00406729086033414 -2.52659058230797E-07"
        rpy="0 0 0" />
      <mass
        value="0.00626471152842508" />
      <inertia
        ixx="1.47590710026093E-06"
        ixy="6.46249849403867E-12"
        ixz="-1.28964894486098E-10"
        iyy="2.91318626412533E-06"
        iyz="-9.30221435719257E-14"
        izz="1.47607643256784E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="prop_front_joint"
    type="revolute">
    <origin
      xyz="0 0.0179910148359888 0"
      rpy="0 -0.785398163397438 0" />
    <parent
      link="wrist_front_link" />
    <child
      link="prop_front_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_rear_link">
    <inertial>
      <origin
        xyz="-0.00842726992183307 0.000315327536543675 2.72144423096865E-06"
        rpy="0 0 0" />
      <mass
        value="0.0575772682820351" />
      <inertia
        ixx="3.68696416909147E-05"
        ixy="-1.85494733177041E-09"
        ixz="-3.03621324693274E-10"
        iyy="7.50372393128189E-05"
        iyz="1.18514013975198E-09"
        izz="4.10250405964997E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_rear_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_rear_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_rear_joint"
    type="revolute">
    <origin
      xyz="0.356061406788946 -0.356061406788959 0.332824389225177"
      rpy="1.5707963267949 0 -2.35619449019236" />
    <parent
      link="base_link" />
    <child
      link="wrist_rear_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="prop_rear_link">
    <inertial>
      <origin
        xyz="-1.62386300567308E-06 0.00406728970206238 -2.80791382145651E-07"
        rpy="0 0 0" />
      <mass
        value="0.0062647197324137" />
      <inertia
        ixx="1.47590843165313E-06"
        ixy="6.31366347012516E-12"
        ixz="-1.31033243915763E-10"
        iyy="2.91319108936351E-06"
        iyz="-2.12281063999284E-13"
        izz="1.47607994794417E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_rear_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_rear_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="prop_rear_joint"
    type="revolute">
    <origin
      xyz="-0.00849626951822631 0.0179910148359874 0"
      rpy="3.14159265358979 0.785398163397429 3.14159265358979" />
    <parent
      link="wrist_rear_link" />
    <child
      link="prop_rear_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_right_link">
    <inertial>
      <origin
        xyz="0.170093997758423 0.000315327536544341 2.72144423110743E-06"
        rpy="0 0 0" />
      <mass
        value="0.0575772682820312" />
      <inertia
        ixx="3.68696416909145E-05"
        ixy="-1.85494733176444E-09"
        ixz="-3.03621324872845E-10"
        iyy="7.50372393128185E-05"
        iyz="1.18514013979133E-09"
        izz="4.10250405964993E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_right_joint"
    type="revolute">
    <origin
      xyz="-0.0341566525915344 -0.229827807826224 0.332824389225177"
      rpy="1.5707963267949 0 -0.785398163397468" />
    <parent
      link="base_link" />
    <child
      link="wrist_right_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="prop_right_link">
    <inertial>
      <origin
        xyz="-1.62386300425754E-06 0.00406728970206227 -2.8079138353343E-07"
        rpy="0 0 0" />
      <mass
        value="0.0062647197324137" />
      <inertia
        ixx="1.47590843165299E-06"
        ixy="6.31366347025792E-12"
        ixz="-1.31033243947087E-10"
        iyy="2.91319108936339E-06"
        iyz="-2.12281063317687E-13"
        izz="1.47607994794418E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="prop_right_joint"
    type="revolute">
    <origin
      xyz="0.170024998162035 0.0179910148359883 0"
      rpy="0 0.785398163397468 0" />
    <parent
      link="wrist_right_link" />
    <child
      link="prop_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_left_link">
    <inertial>
      <origin
        xyz="-0.169955998565644 0.000315327536543952 2.72144423130172E-06"
        rpy="0 0 0" />
      <mass
        value="0.0575772682820338" />
      <inertia
        ixx="3.68696416909147E-05"
        ixy="-1.85494733179659E-09"
        ixz="-3.03621324938914E-10"
        iyy="7.50372393128187E-05"
        iyz="1.18514013975006E-09"
        izz="4.10250405964994E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/wrist_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_left_joint"
    type="revolute">
    <origin
      xyz="0.241843347408475 -0.505827807826225 0.332824389225176"
      rpy="1.5707963267949 0 2.35619449019234" />
    <parent
      link="base_link" />
    <child
      link="wrist_left_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="prop_left_link">
    <inertial>
      <origin
        xyz="-7.8327343433493E-07 0.00406732050568354 -2.27620133252948E-06"
        rpy="0 0 0" />
      <mass
        value="0.0062649513793301" />
      <inertia
        ixx="1.47596706431148E-06"
        ixy="3.0714992496673E-12"
        ixz="1.57372871282249E-11"
        iyy="2.91348485699847E-06"
        iyz="7.33385762952939E-12"
        izz="1.47631374156226E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Quad_model2/meshes/prop_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="prop_left_joint"
    type="revolute">
    <origin
      xyz="-0.170024998162035 0.0179910148359875 0"
      rpy="3.14159265358979 -1.08010792597015 3.14159265358979" />
    <parent
      link="wrist_left_link" />
    <child
      link="prop_left_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>